/* Resetting default styles and applying a box-sizing border-box */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variable definitions */
:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

/* Base styling for the entire page */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: 0;
  height: 100%;
}

/* Container for the entire page */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

Header image and text styling
.image-container {
  position: relative;
}

.centered-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  width: 100%;
  margin-top: 80px;

}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: aliceblue;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

/* Newest Products section styling */
.new {
  margin-top: var(--spacing-l);
}

/* Product cards styling */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: var(--spacing-l);
}

.card1 {
  width: 100%;
  max-width: 300px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: var(--spacing-m);
  margin: 0 var(--spacing-m) var(--spacing-m) 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card1 img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: var(--spacing-s);
}

.card1 p {
  margin: 0;
}

/* Hero section with category cards styling */
.hero-section {
  width: 100%;
  background-image: linear-gradient(15deg, #06e2d7 0%, #06e2d7 150%);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

/* Responsive adjustments for category cards */
@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  list-style: none;
  position: relative;
}

.card:before {
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

/* Google Maps section styling */
.maps {
  width: 100%;
}

iframe {
  width: 100%;
  height: 550px;
  border: 0;
  margin-bottom: var(--spacing-l);
}

/* Call-to-action button styling */
.cta-button {
  background-color: transparent;
  text-decoration: none;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: var(--spacing-l);
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.a1 {
  position: relative;
  display: inline-block;
  padding: var(--spacing-m) var(--spacing-l);
  border: 2px solid white;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2em;
  border-radius: 10px;
  margin-top: var(--spacing-s);
}

/* Hover effect styles */
.a1::before,
.a1::after {
  content: '';
  position: absolute;
  transition: 0.3s ease-in-out;
}

.a1::before {
  top: var(--spacing-s);
  left: -var(--spacing-s);
  width: calc(100% + 2 * var(--spacing-s));
  height: calc(100% - 2 * var(--spacing-s));
}

.a1:hover::before {
  transform: scaleY(0);
}

.a1:hover {
  opacity: 0.6;
  box-shadow: 0 0 0 5px #13cee660;
  color: #06c0c0;
}

.a1::after {
  left: var(--spacing-s);
  top: -var(--spacing-s);
  height: calc(100% + 2 * var(--spacing-s));
  width: calc(100% - 2 * var(--spacing-s));
  transition-delay: 0.5s;
}

.a1:hover::after {
  transform: scaleX(0);
}

/* Responsive adjustments for small screens */
@media only screen and (max-width: 768px) {
  .center {
    font-size: 3em;
    margin-top: var(--spacing-m);
  }

  .cta-button {
    width: 80%;
    margin-top: var(--spacing-m);
  }

  .new,
  .card-container {
    margin-top: var(--spacing-m);
  }

  .card1 {
    margin: 0 0 var(--spacing-m) 0;
  }
}

/* Additional media query for smaller screens */
@media only screen and (max-width: 480px) {
  .a1 {
    padding: var(--spacing-s) var(--spacing-m);
    font-size: 1em;
  }
}


/* Add this to your existing CSS or create a new CSS file */
.animated {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

/* Apply fade-in animation on scroll */
.animated[data-aos='fade-up'][data-aos-delay='0'] {
  opacity: 1;
  transform: translateY(0);
}

/* Additional styling for hover effect */
.animated:hover {
  opacity: 0.8;
  /* Add any additional styling for the hover effect */
}

/* Additional media query for smaller screens */
@media only screen and (max-width: 768px) {
  .animated {
    transition: none; /* Disable animation on smaller screens if needed */
  }
}

