
/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #333;
  color: #09d7c9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-left .brand {
  color: #09f3df;
  text-decoration: none;
  font-size: 2.5em;
  font-weight: bold;
}

.navbar-right {
  display: flex;
  gap: 20px;
}

.navbar-right a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}
/* Navbar.css */

/* Add styles for the logout button */
.navbar-right button {
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

.navbar-right button:hover {
  color: #ffcc00; /* Change color on hover */
}

/* Add styles for the active link */
.navbar-right a.active {
  color: #ffcc00; /* Change the color for the active link */
}

/* Add styles for the cart and user icons */
.cart1,
.user {
  font-size: 1.5em;
}

/* Responsive Styles */

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .navbar-left .brand {
    margin-bottom: 10px;
  }

  .navbar-right {
    margin-top: 10px;
  }

  .navbar-right a {
    font-size: 1em;
  }

  /* Add additional styles for smaller screens as needed */
}
